/* Animations */
@keyframes pulse {
  0%    { background-color: transparent;  }
  50%   { background-color: #568af2;  }
  100%  { background-color: transparent;  }
}

@keyframes fadeInOut {
  0%    { opacity: 0; }
  25%   { opacity: 1; }
  75%   { opacity: 1; }
  100%  { opacity: 0; }
}

@keyframes fadeIn {
  0%    { opacity: 0; }
  100%   { opacity: 1; }
}

@keyframes fadeOut {
  0%    { opacity: 1; }
  100%  { opacity: 0; }
}

.highlighted{
  animation: pulse 2s;
  animation-play-state: paused;
}
.fadeinout{
  animation: fadeInOut 4s;
  animation-play-state: paused;
}
.fadein{
  animation: fadeIn 1s;
  animation-play-state: paused;
}
.fadeout{
  animation: fadeOut 1s;
  animation-play-state: paused;
}

/*--------- Fonts --*/
h1,h2,h3{
  font-family: 'Montserrat', sans-serif;
}
p, a, div{
  font-family: 'Raleway', sans-serif;
}


.hidden{
  display: none;
}

/*--------- Body --*/
html{
  background-color: #21252b;
  color: white;
}
body{
  margin: 0px;
}
.button{
  display: block;
  width: 40%;
  text-align: center;
  padding: 25px;
  background-color: rgb(40, 44, 52);
  transition: 0.5s;
}
.button:hover{
  transition: 0.5s;
  background-color: #568af2;
}
/* Start Screen */
#startScreen,
#analysisScreen{
  margin: 20px 50px;
}
#startScreen h1,
#analysisScreen h1{
  margin: 40px 0px;
}
#dropImageArea{
  text-align: center;
  border: 2px dashed white;
  border-radius: 10px;
  padding: 15% 35%;
}
#selectImageButton{
  margin: auto;
  margin-top: 30px;
}

/* Analysis Screen */
#container{
  display: flex;
  flex-flow: row nowrap;
}
#imageArea{
  margin-right: 20px;
}
#graphContainer{
  flex: 0 1 100%;
  display: flex;
  flex-flow: column nowrap;
  margin-left: 20px;

}
.row{
  display: inline-flex;
  flex-flow: row nowrap;
  height: 30px;
  padding: 20px 0px;
}
.row .filled{
  flex: 0 1 0%;
  background-color: red;
  border-right: 1px solid black;
  transition: all 5s ease-in-out;
}
.label{
  flex: 0 1 20%;
}
.bar{
  flex: 0 1 70%;
  display: flex;
  flex-flow: row nowrap;
  border: 1px dotted black;
}
#graphContainer .row:nth-child(1) .filled{ background-color: #e06c75; }
#graphContainer .row:nth-child(2) .filled{ background-color: #61afef; }
#graphContainer .row:nth-child(3) .filled{ background-color: #d19a66; }
#graphContainer .row:nth-child(4) .filled{ background-color: #98c379; }
#graphContainer .row:nth-child(5) .filled{ background-color: #c678dd; }


/* Log */
#logWindow{
  position: absolute;
  width: 50%;
  top: 50%;
  left: 25%;
  text-align: center;
  border-radius: 10px;
  background-color: #e06c75;
  opacity: 0;
}
